@font-face {
    font-family: 'dekar_lightregular';
    src: url('../fonts/dekar_light-webfont.eot');
    src: url('../fonts/dekar_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dekar_light-webfont.woff2') format('woff2'),
         url('../fonts/dekar_light-webfont.woff') format('woff'),
         url('../fonts/dekar_light-webfont.ttf') format('truetype'),
         url('../fonts/dekar_light-webfont.svg#dekar_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geosanslightregular';
    src: url('../fonts/geosanslight-webfont.eot');
    src: url('../fonts/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geosanslight-webfont.woff2') format('woff2'),
         url('../fonts/geosanslight-webfont.woff') format('woff'),
         url('../fonts/geosanslight-webfont.ttf') format('truetype'),
         url('../fonts/geosanslight-webfont.svg#geosanslightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway_thin-webfont.eot');
    src: url('../fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway_thin-webfont.woff2') format('woff2'),
         url('../fonts/raleway_thin-webfont.woff') format('woff'),
         url('../fonts/raleway_thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway_thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}