/*
font-family: 'geosanslightregular';
font-family: 'dekar_lightregular';
font-family: 'ralewaythin';
*/

@mercury: #e4e4e4;

@orange: #ffa800;
@violet: #f23779;

@dodger: #377df2;
@portage: #af7cf5;

@cucumber: #7cac62;
@persianpink: #F975C0;

@java: #15C9CB;
@purple: #5900c8;

@-webkit-keyframes paletteFan {
    0% { right:-1.75vh; }
    100% { right:0vh; }
}
@-moz-keyframes paletteFan {
    0% { right:-1.75vh; }
    100% { right:0vh; }
}
@-o-keyframes paletteFan {
    0% { right:-1.75vh; }
    100% { right:0vh; }
}
@keyframes paletteFan {
    0% { right:-1.75vh; }
    100% { right: 0; }
}

.bgfade() {
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.fgfade() {
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

.vCenter() {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.transitDelay(@string) {
    -webkit-animation-delay: @string;
    -moz-animation-delay: @string;
    -ms-animation-delay: @string;
    -o-animation-delay: @string;
    animation-delay: @string;
}

.anim (@string) {
    -webkit-animation: @string;
    -moz-animation: @string;
    -ms-animation: @string;
    -o-animation: @string;
    animation: @string;
}

.animDir (@string) {
    -webkit-animation-direction: @string;
    -moz-animation-direction: @string;
    -ms-animation-direction: @string;
    -o-animation-direction: @string;
    animation-direction: @string;
}

.animIter (@string) {
    -webkit-animation-iteration-count: @string;
    -moz-animation-iteration-count: @string;
    -ms-animation-iteration-count: @string;
    -o-animation-iteration-count: @string;
    animation-iteration-count: @string;
}

.bkgCover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.noSelect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable() {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.scheme_t1 {
    @primary: @orange;
    @secondary: @violet;
    
    header>div {
        >h1 {
            color:@secondary;
        }

        >h2 {
            color:@primary;
        }
        
        >h1, >h2 {
            .fgfade;
        }
    }

    main>section {
        &#design {
            header {
                background-color:@secondary;
                .bgfade;
            }
            
            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@secondary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@secondary;
                    .fgfade;
                }
            }
        }

        &#illustration {
            header {
                background-color:@primary;
                .bgfade;
            }

            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@primary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@primary;
                    .fgfade;
                }
            }
        }
            
        .image_slider {
            .slick-prev:before,
            .slick-next:before {
                color:@secondary;
                .fgfade;
            }
        }
    }
}

.scheme_t2 {
    @primary: @portage;
    @secondary: @dodger;
        header>div {
        >h1 {
            color:@secondary;
        }

        >h2 {
            color:@primary;
        }
        
        >h1, >h2 {
            .fgfade;
        }
    }

    main>section {
        &#design {
            header {
                background-color:@secondary;
                .bgfade;
            }
            
            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@secondary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@secondary;
                    .fgfade;
                }
            }
        }

        &#illustration {
            header {
                background-color:@primary;
                .bgfade;
            }

            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@primary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@primary;
                    .fgfade;
                }
            }
        }
            
        .image_slider {
            .slick-prev:before,
            .slick-next:before {
                color:@secondary;
                .fgfade;
            }
        }
    }
}

.scheme_t3 {
    @primary: @persianpink;
    @secondary: @cucumber;
        header>div {
        >h1 {
            color:@secondary;
        }

        >h2 {
            color:@primary;
        }
        
        >h1, >h2 {
            .fgfade;
        }
    }

    main>section {
        &#design {
            header {
                background-color:@secondary;
                .bgfade;
            }
            
            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@secondary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@secondary;
                    .fgfade;
                }
            }
        }

        &#illustration {
            header {
                background-color:@primary;
                .bgfade;
            }

            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@primary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@primary;
                    .fgfade;
                }
            }
        }
            
        .image_slider {
            .slick-prev:before,
            .slick-next:before {
                color:@secondary;
                .fgfade;
            }
        }
    }
}

.scheme_t4 {
    @primary: @purple;
    @secondary: @java;
    header>div {
        >h1 {
            color:@secondary;
        }

        >h2 {
            color:@primary;
        }
        
        >h1, >h2 {
            .fgfade;
        }
    }

    main>section {
        &#design {
            header {
                background-color:@secondary;
                .bgfade;
            }
            
            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@secondary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@secondary;
                    .fgfade;
                }
            }
        }

        &#illustration {
            header {
                background-color:@primary;
                .bgfade;
            }

            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@primary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@primary;
                    .fgfade;
                }
            }
        }
            
        .image_slider {
            .slick-prev:before,
            .slick-next:before {
                color:@secondary;
                .fgfade;
            }
        }
    }
}

html, body {
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
    overflow: hidden;
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    .noSelect;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color:@mercury;
}

body>header {
    height:27.5vh;
    width:100vw;
    overflow:hidden;
    position:relative;
    
    background-image:url('../img/swirl_pattern.png');
    background-repeat:repeat;
    background-size: 247px;

    #palettes {
        height:8vh;
        right:0;
        position:absolute;
        .vCenter;
            
        div {
            height:1.75vh;
            width:3.5vh;
            right:-1.75vh;
            position:absolute;
            
            background-repeat:no-repeat;
            background-size:cover;
            cursor:pointer;
            transition: 0.25s;
            
            .anim(paletteFan 0.3s 1);
            .animIter(2);
            .animDir(alternate);
            
            &:hover  {
                right:0;
                transition: 0.1s;
            }
            
            &.t1 {
                background-image:url('../img/cs-default.png');
                .transitDelay(0.1s);
            }
            
            &.t2 {
                top:2vh;
                background-image:url('../img/cs-blue.png');
                .transitDelay(0.2s);
            }
            
            &.t3 {
                top:4vh;
                background-image:url('../img/cs-green.png');
                .transitDelay(0.3s);
            }
            
            &.t4 {
                top:6vh;
                background-image:url('../img/cs-cyan.png');
                .transitDelay(0.4s);
            }
        }
    }
    
    >div {
          position: relative;
          .vCenter;
        
        >h2 {
            margin-top:-1vh;

            em {
                font-family: 'ralewaythin';
            }
        }

        >h1, >h2 {
            .selectable;
            margin-left: 4vh;
            
            letter-spacing: -0.1vh;
            line-height:10vh;
            font-size: 10vh;
            font-family: dekar_lightregular;
        }
    }
}

main {
    height:60vh;
    width:100vw;

    section {
        height:30vh;

        header {
            height:10vh;
            width:100vw;
            overflow:hidden;
            position:relative;

            h3 {
                left:3vh;
                bottom:2vh;
                float:left;
                position:absolute;
                
                color: #fff;
                font-family: dekar_lightregular;
                font-size:5vh;
                line-height:5vh;
                letter-spacing: -0.1vh;
            }
        }
        
        .image_slider {
            a {
                height:20.2vh;
            }
            img {
                width:100%;
                height:100%;
            }
        }
    }
}


nav {
    height:8.5vh;
    right: 0;
    bottom: 0;
    left: 30vh;
    overflow:hidden;
    position: absolute;
    background-color:@mercury;

    >ul {
        margin-left: 3vh;

        >li {
            height:8.5vh;
            min-width:9vw;
            float:left;
            display:inline-block;
            background-color:@mercury;

            a {
                top:0;
                display: block;
                padding: 3vh 2vh 0 2vh;
                
                color: #616161;
                letter-spacing: -0.1vh;
                line-height:2.8vh;
                text-decoration: none;
                font-size:2.8vh;
                font-family: geosanslightregular;
            }
        }
    }
}
        
footer {
    height:12.5vh;
    width:100vw;
    overflow:hidden;
    padding-top:1vh;
    background-color: #090a0f !important;

    >div {
        height:11.5vh;
        width:100vw;
        position:relative;
        background-image:url('../img/swirl_pattern_dark.png');
        background-repeat:repeat-x;
        background-size: 247px;

        aside {
            height:11.5vh;
            width:55vh;
            left:-51vh;
            position:relative;
            background-color:#222629;
            
            font-family: 'geosanslightregular';
            color:#8f959b;
            transition: 1s;

            &:hover  {
                transition: 1s;
                left: 0;
            }

            p {
                padding: 0.5vh 4.5vh 0 0.5vh;
                font-weight: 600;
                line-height: 1.75vh;
                font-size: 1.25vh;
            }

            .tab {
                width: 4vh;
                top: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                cursor:pointer;
                
                background-image:url('../img/about-me-tab.png');
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: #0D0D0D;
            }
        }
    }
}

address {
    height:11.5vh;
    top: 0;
    right:0;
    position:absolute;
    display:inline-block;

    ul {
        height:11vh;
        
        li {
            text-align:right;
            width:17vh;
            height:33%;
            display:block;
            float:left;
            clear:left;
            font-family: geosanslightregular;
            color:#fff;
            line-height:2vh;
            font-size:2vh;
            
            div {
                right:0;
                padding-right:1vh;
                position: relative;
                .vCenter;
            }
            
            a {
                .bkgCover;
                .vCenter;
                width: 3vh;
                display:block;
                position: relative;
                float:left;
                margin-right: .6vh;
                
                background-repeat:no-repeat;
                background-position:center center;
        
                &:before{
                    content: "";
                    display: block;
                    padding-top: 100%;
                }
                
                &.email{
                    background-image:url('../img/email.png');
                }

                &.web{
                    background-image:url('../img/web.png');
                }

                &.facebook{
                    background-image:url('../img/facebook.png');
                }

                &.twitter{
                    background-image:url('../img/twitter.png');
                }

                &.tumblr{
                    background-image:url('../img/tumblr.png');
                }

                &.linkedIn{
                    background-image:url('../img/linkedIn.png');
                }

                &.resume{
                    background-image:url('../img/pdf.png');
                }
            }
        }
    }
}

.fancybox-lock {
    box-sizing: content-box;
}

.fancybox-title {
    font-family: 'geosanslightregular';
    font-size:1em;
    line-height:1.25em;
    em {
        font-size:1.15em;
        line-height:1.15em;
        margin-bottom:0.5vh;
        font-weight:bold;
        display:block;
    }
    a {
        color:#0645AD;
        &:hover {
            color:@violet;
        }
    }
    i {
        font-size: 0.8em;
        line-height: 0.8em;
        font-style: italic;
    }
}

@media 
screen and (max-width: 950px) {
    body>header {
        height:20vh !important;
        >div {
            >h1, >h2 {
                font-size:10vw !important;
                line-height:10vw !important;
            }
        }
    }
    main {
        height:70vh !important;
        nav {
            display:none !important;
        }
        section {
            height:35vh !important;
            
            header {
                height:10vh !important;
                h3 {
                    font-size:4vh;
                    position: relative;
                    .vCenter;
                }
            }
            
            .image_slider {
                a {
                    height: 25vh !important;
                }
            }
        }
    }
    footer {
        height:10vh !important;
    }
    address {
        ul {
            height:8vh !important;

            li {
                width: 14vh !important;
                font-size:1.75vh !important;
                line-height:1.75vh !important;

                a {
                    width: 2vh !important;
                    margin-right: .5vh !important;
                }
            }
        }
    }
    aside {
        height:9vh !important;
    }
    .fancybox-title {
        display:none !important;
    }
}

@media 
screen and (max-height: 900px) {
    body>header {
        >div {
            >h1, >h2 {
                font-size:8vh !important;
                line-height:8vh !important;
            }
        }
    }
}

@media 
screen and (max-width: 500px) {
    aside {
        display:none;
    }
}
/* iPad landscape-specific styles 
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    body {
        height:98%;
    }
    
    footer {
        >div {
            aside {
                left:0;
                transition: 0s;
                p {
                    line-height: 1.6vh;
                    font-size: 1.3vh;
                }
            }
        }
    }
}*/