/*
font-family: 'geosanslightregular';
font-family: 'dekar_lightregular';
font-family: 'ralewaythin';
*/

#debugCol {
    height:100%;
    width:100px;
    position:absolute;
    display:inline-block;
    z-index:100;
    top:0;
    background-color:#c0c0c0;
}
* {
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@orange: #ffa800;
@violet: #f23779;

@dodger: #377df2;
@portage: #af7cf5;

@cucumber: #7cac62;
@persianpink: #F975C0;

@java: #15C9CB;
@purple: #5900c8;

@mercury: #e4e4e4;

.bgfade() {
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

.fgfade() {
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

.scheme_t1 {
    @primary: @orange;
    @secondary: @violet;
    
    header>div {
        >h1 {
            color:@secondary;
        }

        >h2 {
            color:@primary;
        }
        
        >h1, >h2 {
            .fgfade;
        }
    }

    main>section {
        &#design {
            header {
                background-color:@secondary;
                .bgfade;
            }
            
            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@secondary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@secondary;
                    .fgfade;
                }
            }
        }

        &#illustration {
            header {
                background-color:@primary;
                .bgfade;
            }

            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@primary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@primary;
                    .fgfade;
                }
            }
        }
            
        .image_slider {
            .slick-prev:before,
            .slick-next:before {
                color:@secondary;
                .fgfade;
            }
        }
    }
}

.scheme_t2 {
    @primary: @portage;
    @secondary: @dodger;
        header>div {
        >h1 {
            color:@secondary;
        }

        >h2 {
            color:@primary;
        }
        
        >h1, >h2 {
            .fgfade;
        }
    }

    main>section {
        &#design {
            header {
                background-color:@secondary;
                .bgfade;
            }
            
            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@secondary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@secondary;
                    .fgfade;
                }
            }
        }

        &#illustration {
            header {
                background-color:@primary;
                .bgfade;
            }

            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@primary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@primary;
                    .fgfade;
                }
            }
        }
            
        .image_slider {
            .slick-prev:before,
            .slick-next:before {
                color:@secondary;
                .fgfade;
            }
        }
    }
}

.scheme_t3 {
    @primary: @persianpink;
    @secondary: @cucumber;
        header>div {
        >h1 {
            color:@secondary;
        }

        >h2 {
            color:@primary;
        }
        
        >h1, >h2 {
            .fgfade;
        }
    }

    main>section {
        &#design {
            header {
                background-color:@secondary;
                .bgfade;
            }
            
            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@secondary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@secondary;
                    .fgfade;
                }
            }
        }

        &#illustration {
            header {
                background-color:@primary;
                .bgfade;
            }

            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@primary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@primary;
                    .fgfade;
                }
            }
        }
            
        .image_slider {
            .slick-prev:before,
            .slick-next:before {
                color:@secondary;
                .fgfade;
            }
        }
    }
}

.scheme_t4 {
    @primary: @purple;
    @secondary: @java;
    header>div {
        >h1 {
            color:@secondary;
        }

        >h2 {
            color:@primary;
        }
        
        >h1, >h2 {
            .fgfade;
        }
    }

    main>section {
        &#design {
            header {
                background-color:@secondary;
                .bgfade;
            }
            
            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@secondary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@secondary;
                    .fgfade;
                }
            }
        }

        &#illustration {
            header {
                background-color:@primary;
                .bgfade;
            }

            nav>ul>li {
                a {
                    &:hover,
                    &.selected {
                        color:@primary;
                        .fgfade;
                    }
                }
                
                .slick-dots li.slick-active button:before
                {
                    color:@primary;
                    .fgfade;
                }
            }
        }
            
        .image_slider {
            .slick-prev:before,
            .slick-next:before {
                color:@secondary;
                .fgfade;
            }
        }
    }
}

html, body {
    margin:0;
    padding:0;
    height:100%;
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color:@mercury;
}

body>header {
    background-image:url('../img/swirl_pattern.png');
    background-repeat:repeat;
    background-size: 247px;
    height:27.5vh;
    width:100%;
    overflow:hidden;
    position:relative;

    #palettes {
        height:8vh;
        position:absolute;
        right:0;
        top:50%;
            
        div {
            height:1.75vh;
            width:3.5vh;
            right:-1.75vh;
            position:absolute;
            background-repeat:no-repeat;
            background-size:cover;
            cursor:pointer;
            
            -webkit-animation: paletteFan 0.5s 1;
            -moz-animation: paletteFan 0.5s 1;
            -o-animation: paletteFan 0.5s 1;
            animation: paletteFan 0.5s 1;

            &:hover  {
                transition: 0.1s;
                right:0;
            }
            
            transition: 0.25s;
        
            &.t1 {
                background-image:url('../img/cs-default.png');
                -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
                -o-animation-delay: 0.3s;
                -moz-animation-delay: 0.3s;
            }
            
            &.t2 {
                top:2vh;
                background-image:url('../img/cs-green.png');
                -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
                -o-animation-delay: 0.4s;
                -moz-animation-delay: 0.4s;
            }
            
            &.t3 {
                top:4vh;
                background-image:url('../img/cs-cyan.png');
                -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
                -o-animation-delay: 0.5s;
                -moz-animation-delay: 0.5s;
            }
            
            &.t4 {
                top:6vh;
                background-image:url('../img/cs-cyan.png');
                -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s;
                -o-animation-delay: 0.6s;
                -moz-animation-delay: 0.6s;
            }
        }
    }
    
    >div {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);

        >h2 {
            margin-top:-1vh;

            em {
                font-family: 'ralewaythin';
            }
        }

        >h1, >h2 {
            margin-left: 4vh;
            letter-spacing: -2px;
            font-size: 10vh;
            line-height:10vh;
            font-family: dekar_lightregular;
        }
    }
}

main {
    height:60vh;
    width:100%;

    section {
        height:50%;

        header {
            height:32.53%;
            overflow:hidden;
            position:relative;
            width:100%;

            div {
                height:13.83%;
            }

            h3 {
                float:left;
                color: #fff;
                letter-spacing: -1px;
                font-size:5vh;
                line-height:5vh;
                font-family: dekar_lightregular;
                bottom:2vh;
                position:absolute;
                left:3vh;
            }
        }
        
        .image_slider {
            height: 68%;
            
            img {
                width:100%;
                height:100%;
            }
            
            a {
                width:240px;
                float:left;
                height: 100%;
            }
            
            .slick-track,
            .slick-list {
                height:100%;
            }
        }
    }
}


nav {
    background-color:@mercury;
    margin-left: 30vh;
    height:86.37%;
    overflow:hidden;
    position: Absolute;
    bottom: 0;
    right: 0;
    left: 0;

    >ul {
        margin-left: 3vh;
        height:8.4vh;

        >li {
            display:inline-block;
            background-color:@mercury;
            float:left;
            height:100%;
            min-width:95px;

            a {
                top:0;
                text-decoration: none;
                padding: 3vh 2vh 0 2vh;
                display: block;
                color: #616161;
                letter-spacing: -1px;
                line-height:2.8vh;
                font-size:2.8vh;
                font-family: geosanslightregular;
            }
        }
    }
}
        
footer {
    height:12.5vh;
    width:100%;
    background-color: #090a0f;
    overflow:hidden;

    >div {
        background-image:url('../img/swirl_pattern_dark.png');
        background-repeat:repeat-x;
        background-size: 247px;
        width:100%;
        height:90%;
        position:relative;
        margin-top: 1vh;

        aside {
            font-family: 'geosanslightregular';
            width:55vh;
            color:#8f959b;
            position:absolute;
            background-color:#222629;
            height:100%;
            position:relative;
            left:-51vh;
            transition: 1s;

            &:hover  {
                transition: 1s;
                left: 0;
            }

            p {
                line-height: 1.75vh;
                font-weight: 600;
                padding: 0.5vh 4.5vh 0 0.5vh;
                line-height: 1.45vh;
                font-size: 1.25vh;
            }

            .tab {
                position: absolute;
                width: 4vh;
                bottom: 0;
                right: 0;
                top: 0;
                cursor:pointer;
                background-image:url('../img/about-me-tab.png');
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position: center center;
                background-color: #0D0D0D;
            }
        }
    }
}

address {
    position:absolute;
    display:inline-block;
    right:0;
    top: 0;
    height:100%;

    ul {
        height:95%;
        
        li {
            text-align:right;
            width:17vh;
            height:33%;
            display:block;
            float:left;
            clear:left;
            font-family: geosanslightregular;
            color:#fff;
            line-height:15px;
            font-size:2vh;
            
            div {
                right:0;
                padding-right:10%;
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            
            a {
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-repeat:no-repeat;
                background-position:center center;
                
                display:block;
                width: 3vh;
                float:left;
                line-height:25px;
                margin-right: .6vh;
                position: relative;
                z-index: 1;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        
                &:before{
                    content: "";
                    display: block;
                    padding-top: 100%;
                }
                
                &.email{
                    background-image:url('../img/email.png');
                }

                &.web{
                    background-image:url('../img/web.png');
                }

                &.facebook{
                    background-image:url('../img/facebook.png');
                }

                &.twitter{
                    background-image:url('../img/twitter.png');
                }

                &.tumblr{
                    background-image:url('../img/tumblr.png');
                }

                &.linkedIn{
                    background-image:url('../img/linkedIn.png');
                }

                &.resume{
                    background-image:url('../img/pdf.png');
                }
            }
        }
    }
}

.fancybox-title {
    font-family: 'geosanslightregular';
    font-size:16px;
    line-height:18px;
    em {
        font-size:18px;
        line-height:25px;
        font-weight:bold;
        display:block;
    }
    a {
        color:#0645AD;
        &:hover {
            color:@violet;
        }
    }
    i {
        font-size: 13px;
        font-style: italic;
    }
}


@media 
screen and (max-width: 950px) {
    body>header {
        height:20% !important;
        >div {
            >h1, >h2 {
                font-size:10vw !important;
                line-height:10vw !important;
            }
        }
    }

    main {
        height:70% !important;

        nav {
            display:none !important;
        }

        section {
            header {
                height:20% !important;
                h3 {
                    font-size:4vh;
                    position: relative;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
            
            .image_slider {
                height: 80%;
            }
        }
    }
    
    footer {
        height:10% !important;
    }

    address {
        ul {
            height:90%;

            li {
                width: 13vh;
                font-size:1.5vh;

                a {
                    width: 2.25vh;
                    margin-right: .5vh;
                }
            }
        }
    }

    .fancybox-title {
        display:none !important;
    }
}

@-webkit-keyframes paletteFan {
    0%   { right:-1.75vh; }
    50%   { right: 0; }
    100% { right:-1.75vh; }
}
@-moz-keyframes paletteFan {
    0%   { right:-1.75vh; }
    50%   { right: 0; }
    100% { right:-1.75vh; }
}
@-o-keyframes paletteFan {
    0%   { right:-1.75vh; }
    50%   { right: 0; }
    100% { right:-1.75vh; }
}
@keyframes paletteFan {
    0%   { right:-1.75vh; }
    50%   { right: 0; }
    100% { right:-1.75vh; }
}

@media 
screen and (max-height: 900px) {
    body>header {
        >div {
            >h1, >h2 {
                font-size:8vh !important;
                line-height:8vh !important;
            }
        }
    }
}

@media 
screen and (max-width: 500px) {
    aside {
        display:none;
        p {
            font-size: 1.5vh;
        }
    }
}
/* iPad landscape-specific styles */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    body {
        height:98%;
    }
    
    footer {
        >div {
            aside {
                left:0;
                transition: 0s;
                p {
                    line-height: 1.6vh;
                    font-size: 1.3vh;
                }
            }
        }
    }
}